body {
    background-color: #FFFFFF;
    color: #000000;
}

body {
    font-family: 'Lato', sans-serif;

}

.navbar {
    background-color: #0072C6;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #FFFFFF;

}

.navbar-nav .nav-link:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-size: 17px !important;
    margin-right: 80px;
    font-weight: bold;
}

.cent {
    text-align: center;
}

.home-img {

    height: 200px;
    max-width: 500ox;
}

.about-img {
    height: 180px;
}

.hc {
    margin-top: 50px;
}


.tag-line {
    font-weight: bold;
    font-size: 22px;
    color: rgb(70, 70, 70);
    letter-spacing: 1.5px;
    line-height: 35px;
}
.with{
    font-size: 19px;
    color: rgb(70, 70, 70);
    margin-bottom: 5px;

}
.toggle-switch {
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background-color: #ccc;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.toggle-switch::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top: 2.5px;
    left: 2.5px;
    transition: transform 0.3s ease-in-out;
}

.toggle-switch.on {
    background-color: #536DFE;
}

.toggle-switch.on::before {
    transform: translateX(25px);
}

.container.hc {
    padding: 50px 0;
}

.section-h {
    margin-top: 50px;
    margin-bottom: 50px;
}

.dline {
    color: #536DFE;
}

.ccont {
    /* padding-left: 30px!important;
    padding-right: 30px!important; */
}

.card {
    min-height: 200px;
    border-radius: 0 !important;

}

.sheading {
    font-weight: bold;
}

.sccont {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px rgba(0, 0, 0, 0.125);
}

.sccont-2 {
    height: 200px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.slist {
    list-style: none;
    width: 100%;
}

.slist li::before {
    content: "\2022";
    color: #536DFE;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.dcourt {
    font-size: 13px;
    font-weight: 500;
    color: gray;

}

.main_btn {
    background-color: #536DFE;
}

input:focus,
textarea:focus {
    border: solid 2px #536DFE !important;
    box-shadow: 0 0 5px 2px 536DFE;
}
.lim{
    height: 50px;
    width: auto;
}

.fade-in {
    animation: fade 1s ease-in;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@media (max-width: 991.98px) {
    .card {
        height: auto !important;
        min-height: auto;
    }

    .sccont {
        border-right: 0;
    }

    .sccont-2 {
        width: 100% !important;
        text-align: center;
        height: auto;
    }

    .rr {
        padding-right: 20px;
        padding-left: 20px;
    }
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-margin-top: 100px;
}

@media (max-width: 767px) {
    .card {
        height: auto !important;
        min-height: auto;
    }

    .align-items-center {
        flex-direction: column;
    }

    .tag-line {
        margin-bottom: 20px;
    }

    .col-md-6 {
        margin-top: 20px;
    }

    .secondrow {
        margin-top: 0px !important;
    }

    .rr {
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

    input,
    textarea {
        width: 80vw !important;
    }
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fa {
    color: #536DFE;
}

.contact-card {
    width: 30%;
    display: flex;
    align-items: center;
}

.contact-card i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.add {
    color: #3c3c3c;
}

.add:focus {
    color: #3c3c3c !important;
}

.add:hover {
    color: #3c3c3c !important;
}

.linkedin {
    height: 20px;
    border-radius: 5px;
    color: #536DFE;
    background-color: #536DFE;
}

.mainContALL {
    display: none;
}

#bodysssss {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the body height to full viewport height */
    background-color: #fffdff;
    
}

.containerssss {
    display: flex;
    flex-direction: column;
    /* Change to flex display */
    justify-content: center;
    /* Center align horizontally */
    align-items: center;
    /* Center align vertically */
    height: 100%;
    /* Set the container height to 100% */
    width: 100%;
    /* Set the container width to 100% */
    position: relative;
    box-sizing: border-box;
}
/* naw */
.imagessss {
    width: 20vw;
    height: auto;
}

#two,
#three {
    display: none;
}

@media (max-width: 850px) {
    .imagessss {
        width: 30vw;
        height: auto;
    }
    .slist{
        text-align: left;
    }
}

@media (max-width: 500px) {
    .imagessss {
        width: 40vw;
        height: auto;
    }
    .slist{
        text-align: left;
    }
    .tag-line{
        font-size: 19px;
    }
}

@media (max-width: 400px) {
    .imagessss {
        width: 60vw;
        height: auto;
    }
}

@media (max-width: 300px) {
    .imagessss {
        width: 60vw;
        height: auto;
    }
}

.fade-in-element-left {
    opacity: 0;
    position: relative;
    left: -100px; /* Start off-screen to the left */
    animation: fade-in 1s forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      left: -100px; /* Start off-screen to the left */
    }
    100% {
      opacity: 1;
      left: 0; /* Move to the original position */
    }
  }
  

  .fade-in-element-right {
    opacity: 0;
    position: relative;
    right: -100px; /* Start off-screen to the right */
    animation: fade-in 1s forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      right: -100px; /* Start off-screen to the right */
    }
    100% {
      opacity: 1;
      right: 0; /* Move to the original position */
    }
  }
  .uc{
    padding: 2px;
    background-color: white;
    border-radius: 50%;
    color: rgb(11, 220, 11);
  
  }

  #check{
    display: none;
  }